//-------------------------Colors-----------------------------//

//Blue colors (primary):
$color-primary-marine: hsl(213, 96%, 18%);
$color-primary-marine-light: hsl(213, 67%, 23%);
$color-primary-purplish: hsl(243, 100%, 62%);
$color-primary-pastel: hsl(228, 100%, 84%);
$color-primary-light: hsl(206, 94%, 87%);

$color-primary-red: hsl(354, 84%, 57%);

//Neutral
$color-neutral-gray: hsl(231, 11%, 63%);
$color-neutral-light-gray: hsl(229, 24%, 87%);
$color-neutral-magnolia: hsl(217, 100%, 97%);
$color-neutral-alabaster: hsl(231, 100%, 99%);
$color-neutral-white: hsl(0, 0%, 100%);

//-------------------------Typography-----------------------------//

$base-font-size: 16px;
$primary-font-ubuntu: "Ubuntu", sans-serif;
$font-weight-thin: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

//-------------------------Breakpoints-----------------------------//

$first-breakpoint: 52.375em; //838px
$second-breakpoint: 90em; //1440px
