.nav {
  &__li {
    list-style: none;
  }
  &__number {
    border: 1px solid $color-neutral-magnolia;
    color: $color-neutral-magnolia;
    border-radius: 5rem;
    width: 2rem;
    height: 2rem;
    @include flexbox-center;
    @include responsive($first-breakpoint) {
      margin-right: 1rem;
      // width: -5rem;
    }
  }
  &__text {
    display: none;
    @include responsive($first-breakpoint) {
      display: flex;
      flex-direction: column;
      width: 60%;
      grid-row: span 3;
    }
  }
  @include responsive($first-breakpoint) {
    padding-left: 1rem;
  }
}

.active-number {
  background-color: $color-primary-light;
  color: $color-primary-marine;
  border-color: $color-primary-light;
}
