.summary {
  margin-top: 1.5rem;
  background-color: $color-neutral-magnolia;
  border-radius: 0.5em;
  &__arcade {
    padding: 1rem;
    display: flex;
  }
  &__price {
    align-self: center;
    margin-left: auto;
  }
  &__line {
    width: 90%;
    height: 0.5px;
    background-color: $color-neutral-light-gray;
    margin: 0 auto;
    content: "";
  }
  &__info {
    display: flex;
    padding: 0.5rem 1rem;
    @include responsive($first-breakpoint) {
      padding: 1rem 1.5rem;
    }

    &__paragraph {
      align-self: center;
      margin-left: auto;
    }
    &--transparent {
      background-color: transparent;
      padding: 1rem 1rem 0 1rem;
      @include responsive($first-breakpoint) {
        padding: 1.5rem 1.5rem 0 1.5rem;
      }
    }
  }
}
