@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  @include responsive($second-breakpoint) {
    font-size: 1.5rem;
  }
}

body {
  @include responsive($first-breakpoint) {
    background-color: $color-primary-light;
  }
}
