.margin {
  &-top {
    margin-top: 1rem;
    @include responsive($first-breakpoint) {
      margin-top: 1.5rem;
    }
  }
  &-small-top {
    margin-top: 0.5rem;
    @include responsive($first-breakpoint) {
      margin-top: 0.7rem;
    }
  }
  &-bottom {
    margin-bottom: 1rem;
    @include responsive($first-breakpoint) {
      margin-bottom: 1.5rem;
    }
  }

  &-small-bottom {
    margin-bottom: 0.1rem;
    @include responsive($first-breakpoint) {
      margin-bottom: 0.4rem;
    }
  }
  &-ultra-small {
    margin-bottom: 3px;
  }
}
