body {
  font-family: $primary-font-ubuntu;
  //base font size 16px for mobile devices
}

.heading {
  color: $color-primary-marine;
  font-size: 1.3rem;
  &--2 {
    font-size: 1rem;
    font-weight: $font-weight-bold;
    color: $color-primary-marine;
  }
}

.paragraph {
  color: $color-neutral-gray;
  font-size: 0.8rem;
  &--2 {
    color: $color-primary-marine;
    font-size: 0.7rem;
    font-weight: $font-weight-medium;
    letter-spacing: -0.075rem;
  }

  &--3 {
    color: $color-neutral-gray;
    font-size: 0.6rem;
    white-space: nowrap;
    text-transform: uppercase;
  }

  &--4 {
    color: $color-neutral-alabaster;
    font-size: 0.8rem;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
  }

  &--5 {
    font-weight: $font-weight-medium;
  }

  &--red {
    color: $color-primary-red;
  }
  &--head {
    color: $color-neutral-gray;
    font-size: 0.85rem;
  }
}

@mixin input-text {
  color: $color-neutral-gray;
  font-weight: $font-weight-bold;
  font-size: 0.75rem;
}

.custom-paragraph {
  font-size: 0.95rem;
}

.non-active-color {
  color: $color-neutral-gray;
}

.purple {
  color: $color-primary-purplish;
}

.primary-marine {
  color: $color-primary-marine;
}
