<div class="thanks-side">
    <div class="thanks-side__img">
      <img
        class="thanks-side__img__svg"
        src="assets/images/icon-thank-you.svg"
        alt="Thank you"
      />
      <!--Może pojawić się błąd przy dodaniu tej sekcji do templatki ścieżka do zmian-->
    </div>
    <div class="thanks-side__header">
      <h1 class="heading">Thank you!</h1>
    </div>
    <div class="thanks-side__text">
      <p class="paragraph--head margin-small-top">
        Thanks for confirming your subscription! We hope you have fun
        using our platform. If you ever need support, please feel free
        to email us at support@loremgaming.com.
      </p>
    </div>
  </div>
</div>