<div class="data-side">
  <h1 class="heading">Select your plan</h1>
  <p class="data-side__paragraph paragraph--head margin-small-top">
    You have the option of monthly or yearly billing.
  </p>
  <form action="#" class="form-stage-2">
    <div class="choice-section">
      <div class="choice-section__target" data-name="Arcade">
        <div class="choice-section__target__img">
          <img
            class="choice-section__target__img-prop"
            src="assets/images/icon-arcade.svg"
            alt="Arcade"
          />
          <!--Może pojawić się błąd przy dodaniu tej sekcji do templatki ścieżka do zmian-->
        </div>
        <div class="choice-section__target__info info">
          <div class="info__type heading--2">Arcade</div>
          <div class="info__price paragraph">$9/mo</div>
          <div class="info__special-offer paragraph--2">2 months free</div>
        </div>
      </div>
      <div class="choice-section__target" data-name="Advanced">
        <div class="choice-section__target__img">
          <img
            class="choice-section__target__img-prop"
            src="assets/images/icon-advanced.svg"
            alt="Advanced"
          />
          <!--Może pojawić się błąd przy dodaniu tej sekcji do templatki ścieżka do zmian-->
        </div>
        <div class="choice-section__target__info info">
          <div class="info__type heading--2">Advanced</div>
          <div class="info__price paragraph">$20/mo</div>
          <div class="info__special-offer paragraph--2"></div>
        </div>
      </div>
      <div class="choice-section__target" data-name="Pro">
        <div class="choice-section__target__img">
          <img
            class="choice-section__target__img-prop"
            src="assets/images/icon-pro.svg"
            alt="Pro"
          />
          <!--Może pojawić się błąd przy dodaniu tej sekcji do templatki ścieżka do zmian-->
        </div>
        <div class="choice-section__target__info info">
          <div class="info__type heading--2">Pro</div>
          <div class="info__price paragraph">$150/mo</div>
          <div class="info__special-offer paragraph--2"></div>
        </div>
      </div>
    </div>
    <div class="slider-box margin-top">
      <p class="paragraph--2 custom-paragraph">Monthly</p>

      <input
        class="slider slider-box__slid"
        type="range"
        name="slider-time"
        min="0"
        max="1"
        value="0"
        step="1"
      />
      <p class="paragraph--2 custom-paragraph non-active-color">Yearly</p>
    </div>
  </form>
  <div class="data-side__end">
    <button class="button--2 go-back__button">Go Back</button>
    <button class="button data-side__button">Next Step</button>
  </div>
</div>
