<!--///////////////////////////////////////////////////////////////////
            Fist Section html code
 -->

<div class="data-side">
  <h1 class="heading">Personal info</h1>
  <p class="data-side__paragraph paragraph--head margin-small-top">
    Please provide your name, email address, and phone number.
  </p>

  <form action="#" class="form">
    <label for="#" class="label">
      <div class="label__text">
        <p class="paragraph--2 label__paragraph margin-top margin-small-bottom">
          Name
        </p>
        <p
          class="paragraph--2 paragraph--red label__paragraph--not-required margin-top margin-small-bottom"
        >
          This field is required
        </p>
      </div>
      <input
        name="name"
        type="text"
        class="label__input"
        placeholder="e.g. Stephen King"
        required
      />
    </label>

    <label for="#" class="label">
      <div class="label__text">
        <p class="paragraph--2 label__paragraph margin-top margin-small-bottom">
          Email Address
        </p>
        <p
          class="paragraph--2 paragraph--red label__paragraph--not-required margin-top margin-small-bottom"
        >
          This field is required
        </p>
      </div>

      <input
        name="email"
        type="email"
        class="label__input"
        placeholder="e.g. stephenking@lorem.com"
        required
      />
    </label>

    <label for="#" class="label">
      <div class="label__text">
        <p class="paragraph--2 label__paragraph margin-top margin-small-bottom">
          Phone Number
        </p>
        <p
          class="paragraph--2 paragraph--red label__paragraph--not-required margin-top margin-small-bottom"
        >
          This field is required
        </p>
      </div>
      <input
        name="number"
        type="number"
        class="label__input"
        placeholder="e.g. +1 234 567 890"
        required
      />
    </label>
  </form>
  <div class="data-side__button">
    <button class="button data-side__button">Next Step</button>
  </div>
</div>
