<div class="data-side">
  <h1 class="heading">Pick add-ons</h1>
  <p class="data-side__paragraph paragraph--head margin-small-top">
    Add-ons help enhance your gaming experience.
  </p>
  <form action="#" class="form-stage-3">
    <div class="add-ons-section">
      <label class="add-ons-section__target choice-selected">
        <input
          type="checkbox"
          class="add-ons-section__input"
          name="onlineService"
        />
        <div class="add-ons-section__info">
          <h2 class="heading--2 margin-ultra-small">Online service</h2>
          <p class="paragraph">Access to multiplayer games</p>
        </div>
        <div class="add-ons-section__price">
          <p class="paragraph purple">+$1/mo</p>
        </div>
      </label>

      <label class="add-ons-section__target">
        <input
          type="checkbox"
          class="add-ons-section__input"
          name="largerStorage"
        />
        <div class="add-ons-section__info">
          <h2 class="heading--2 margin-ultra-small">Larger storage</h2>
          <p class="paragraph">Extra 1TB of cloud save</p>
        </div>
        <div class="add-ons-section__price">
          <p class="paragraph purple">+$2/mo</p>
        </div>
      </label>

      <label class="add-ons-section__target">
        <input
          type="checkbox"
          class="add-ons-section__input"
          name="customizableProfile"
        />
        <div class="add-ons-section__info">
          <h2 class="heading--2 margin-ultra-small">Customizable Profile</h2>
          <p class="paragraph">Custom theme on your profile</p>
        </div>
        <div class="add-ons-section__price">
          <p class="paragraph purple">+$2/mo</p>
        </div>
      </label>
    </div>
  </form>
  <div class="data-side__end">
    <button class="button--2 go-back__button">Go Back</button>
    <button class="button data-side__button">Next Step</button>
  </div>
</div>
