<div class="data-side">
  <h1 class="heading">Pick add-ons</h1>
  <p class="data-side__paragraph paragraph--head margin-small-top">
    Add-ons help enhance your gaming experience.
  </p>
  <form action="#" class="form-stage-3">
    <div class="add-ons-section">
      <label class="add-ons-section__target">
        <input
          type="checkbox"
          class="add-ons-section__input"
          name="onlineService"
        />
        <div class="add-ons-section__info">
          <h2 class="heading--2 margin-ultra-small">Online service</h2>
          <p class="paragraph">Access to multiplayer games</p>
        </div>
        <div class="add-ons-section__price">
          <p class="add-ons-section__parapraph paragraph purple"></p>
        </div>
      </label>

      <label class="add-ons-section__target">
        <input
          type="checkbox"
          class="add-ons-section__input"
          name="largerStorage"
        />
        <div class="add-ons-section__info">
          <h2 class="heading--2 margin-ultra-small">Larger storage</h2>
          <p class="paragraph">Extra 1TB of cloud save</p>
        </div>
        <div class="add-ons-section__price">
          <p class="add-ons-section__parapraph paragraph purple"></p>
        </div>
      </label>

      <label class="add-ons-section__target">
        <input
          type="checkbox"
          class="add-ons-section__input"
          name="customizableProfile"
        />
        <div class="add-ons-section__info">
          <h2 class="heading--2 margin-ultra-small">Customizable Profile</h2>
          <p class="paragraph">Custom theme on your profile</p>
        </div>
        <div class="add-ons-section__price">
          <p class="add-ons-section__parapraph paragraph purple"></p>
        </div>
      </label>
    </div>
  </form>
  <div class="data-side__end">
    <a href="http://127.0.0.1:8080/form2"> <button class="button--2 go-back__button">Go Back</button></a>
    <a href="http://127.0.0.1:8080/form4">  <button class="button data-side__button">Next Step</button></a>
  </div>
</div>
</div>
</div>
</div>
<div class="end">
  <a href="http://127.0.0.1:8080/form2" class="button--2" ><button class="button--2 go-back__button button--white-gray">
  Go Back
</button></a>
<a href="http://127.0.0.1:8080/form4"><button class="button end__button">Next Step</button></a>
</div>
</main>
</body>
</html>