<!--To w form-card__form-->
<div class="data-side">
  <h1 class="heading">Finishing up</h1>
  <p class="data-side__paragraph paragraph--head margin-small-top">
    Double-check everything looks OK before confirming.
  </p>
  <div class="summary">
    <div class="summary__arcade">
      <div class="summary__arcade__texts">
        <h2 class="heading--2 margin-ultra-small">
          Arcade <span class="heading--2">(Monthly)</span>
        </h2>
        <a href="#" class="summary__arcade__link"
          ><p class="paragraph">Change</p></a
        >
      </div>
      <div class="summary__price">
        <h2 class="heading--2 summary__price__heading">
          $9<span class="kind-of-time">/mo</span>
        </h2>
      </div>
    </div>
    <div class="summary__line"></div>
    <div class="summary__info">
      <p class="paragraph">Online service</p>
      <p class="paragraph primary-marine summary__info__paragraph">
        +$1<span class="kind-of-time">/mo</span>
      </p>
    </div>
    <div class="summary__info">
      <p class="paragraph">Larger storage</p>
      <p class="paragraph primary-marine summary__info__paragraph">
        +$2<span class="kind-of-time">/mo</span>
      </p>
    </div>
  </div>
  <div class="summary__info summary__info--transparent">
    <p class="paragraph">Total <span class="paragraph">(per month)</span></p>
    <p class="heading--2 purple summary__info__paragraph">
      +$12<span class="kind-of-time">/mo</span>
    </p>
  </div>
  <div class="data-side__end">
    <button class="button--2 go-back__button">Go Back</button>

    <button class="button button-confirm data-side__button">Confirm</button>
  </div>
</div>
<!--Koniec form-card__form-->

<!--Bo inny przycisk confirm, do zmian-->
<div class="end">
  <button class="button--2 go-back__button button--white-gray">Go Back</button>
  <button class="button button-confirm data-side__button button--invisible">
    Confirm
  </button>
  <button class="button end__button">Next Step</button>
</div>
